
{% extends "base.html" %}
{% load article_tags %}

{% block sidebar %}
<ul>
    <li><a href="/articles/all">Articles</a></li>
    <li><a href="/articles/create">Create Article</a></li>
</ul>

{% endblock %}

{% block content %}

<div class="row">
{% if articles.count > 0 %}

{% for article in articles %}
    {% if article.approved %}
    <div class="col-6 col-sm-6 col-lg-4">
    	<h2><a href="/articles/get/{{ article.id }}/">{{ article.title }}</a></h2>
    	<p>{{ article.body|lower| article_shorten_body:50 }}</p>
    	<p><small>{{article.likes}} people liked this article</small></a></p>
        <p><small><i>{{article.pub_date}}</i></small></p>
    	<p><a class="btn btn-default" href="{% url 'post.views.article' article.id%}"> View more </a></p>
    </div>
    {% endif %}
{% endfor %}

{% else %}
<div class="col-6 col-sm-6 col-lg-4"
	<p>None to show!</p>
</div>
{% endif %}

</div>
{% endblock %}
