{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Vakoms Test Project{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	
    <script src="{% static "js/jquery-2.0.0.min.js" %}"></script>
    <script src="{% static "js/ajax.js" %}"></script>
    
    <style type="text/css">
    	body {padding-top:60px;}
    </style>

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/articles/all/">Test Vakoms</a>
          <a class="navbar-brand" href="/accounts/login/">Login</a>
          <a class="navbar-brand" href="/admin/">Admin Mode</a>
          <a class="navbar-brand" href="/articles/create/">Create Post</a>
        </div>
        
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        
        <img src="{% static 'images/home.jpg' %}" width="100%" />

        <h3>Search Title</h3>
        {% csrf_token %}
        <input type="text" id="search" name="search" />

        <ul id="search-results">

        </ul>

        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}

      </div>



    </div>

    <div class="container">
      <!-- Example row of columns -->
      {% block content %}This is the content area{% endblock %}

      <hr>

      <footer>
        <p>&copy; Test Vakoms 2015</p>
      </footer>
    </div> <!-- /container -->

    <div id="content">
    
	
        
        
	
	<div class="clearfix"></div>
	
    </div>
	
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
</body>
</html>
